.nav1 {
  background: linear-gradient(180deg, #f46ef6 0%, #38aff0 100%);
  box-shadow: inset 0px 4px 4px rgb(212, 47, 212);
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

.nav2 {
  margin-left: 5px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
